<%= form_for(@share) do |f| %>
  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% @share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_url %><br>
    <%= f.text_field :content_url %>
  </div>
  <div class="field">
    <%= f.label :header_url %><br>
    <%= f.text_field :header_url %>
  </div>
  <div class="field">
    <%= f.label :header_content %><br>
    <%= f.text_field :header_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
