<h1>Listing shares</h1>

<table>
  <thead>
    <tr>
      <th>Content url</th>
      <th>Header url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= share.content_url %></td>
        <td><%= share.header_url %></td>
        <td><%= link_to 'Show', share %></td>
        <td><%= link_to 'Edit', edit_share_path(share) %></td>
        <td><%= link_to 'Destroy', share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Share', new_share_path %>
