<!DOCTYPE html>

<!--
  _    _                _     _
 | |  | |              | |   | |
 | |__| | ___  __ _  __| |___| |__   __ _   _ __ ___
 |  __  |/ _ \/ _` |/ _` / __| '_ \ / _` | | '__/ _ \
 | |  | |  __/ (_| | (_| \__ \ | | | (_| |_| | |  __/
 |_|  |_|\___|\__,_|\__,_|___/_| |_|\__,_(_)_|  \___|

 Grab your header at http://headsha.re !

 -->

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex">
  <style type="text/css">
    header { background-color: <%= @share.header_background_color %>; }
    header, header a { color: <%= @share.header_text_color %>; }

    html, body {
      height: 100%;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      overflow: hidden;
    }
    header {
      padding: 8px 0;
      line-height: 18px;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }
    header a {
      text-decoration: none;
    }
    header a:hover {
      text-decoration: underline;
    }
    .container {
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .container iframe {
      width: 100%;
      height: 100%;
    }
    #close {
      float: right;
      margin-right: 10px;
      margin-top: -2px;
    }
    a.close:hover {
      text-decoration: none;
    }
    @font-face {
      font-family: 'icomoon';
      src:url('/assets/fonts/icomoon.eot?-niaalg');
      src:url('/assets/fonts/icomoon.eot?#iefix-niaalg') format('embedded-opentype'),
        url('/assets/fonts/icomoon.woff?-niaalg') format('woff'),
        url('/assets/fonts/icomoon.ttf?-niaalg') format('truetype'),
        url('/assets/fonts/icomoon.svg?-niaalg#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    [class^="icon-"], [class*=" icon-"] {
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .icon-browser:before {
      content: "\e607";
    }

    #powered {
      float: left;
      padding-left: 4px;
    }

    .header-action {
      opacity: 0.8;
    }

    .header-action:hover {
      opacity: 1.0;
    }

  </style>

  <title><%= @open_graph.title %></title>
  <meta name="description" content="<%= @open_graph.description %>">

  <% @open_graph.metas.each do |name, content| %>
    <meta name="<%= name %>" content="<%= content %>">
  <% end %>

  <% @open_graph.properties.each do |property, content| %>
    <meta property="<%= property %>" content="<%= content %>">
  <% end %>

  <% unless @open_graph.properties.include? "og:url" %>
    <meta property="og:url" content="<%= @share.content_url %>">
  <% end %>
  <link rel="canonical" href="<%= @share.content_url %>">

  <% unless @open_graph.properties.include? "og:title" %>
    <meta property="og:title" content="<%= @open_graph.title %>">
  <% end %>

  <% unless @open_graph.properties.include? "og:description" %>
    <meta property="og:description" content="<%= @open_graph.description %>">
  <% end %>

  <% unless @open_graph.properties.include? "og:type" %>
    <meta property="og:type" content="article">
  <% end %>

</head>
<body>
  <header id="header">
    <a href="http://www.headsha.re" title="Powered by Headsha.re" class="header-action" id="powered" target="_blank">
      <i class="icon-browser"></i>
    </a>
    <a href="<%= header_share_path(@share) %>">
      <%= @share.header_content %>
    </a>
    <a href="<%= @original_content_url %>" title="Go to original article URL" class="header-action" id="close">&times;</a>
  </header>
  <article class="container">
    <iframe src="<%= @content_url %>" frameborder="0" id="content"></iframe>
    <div style="display: none">
      <% @open_graph.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    </div>
  </article>
</body>
</html>