<div class="row">

  <p id="notice"><%= notice %></p>

  <div class="right">
    <%= pluralize(@share.impressionist_count, "view") %>
  </div>

  <%= link_to 'Edit', edit_share_path(@share) %> |
  <%= link_to 'Back to your links', shares_path %>


  <br><br>

  <input type="text" value="<%= "#{request.scheme}://#{request.host_with_port}/#{@share.id}" %>">

  <iframe src="<%= "/#{@share.id}" %>" width="100%" height="400px" frameborder="3"></iframe>


</div>